.text-center {
    text-align: center;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the icons */
    gap: 4.5rem; /* Add a little more gap between the icons */
}
